:root {
  --heading-font-family: "Judson", serif;
  --default-font-family: "Poppins", sans-serif;
  --green-color: #c6d9d2;
  --dark-green-color: #042f00;
  --burnt-color: #bf8572;
  --dark-brown: #321c15;
}
body {
  background-color: var(--green-color);
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 75px;
  margin: 0 0 10px 0;
  color: var(--dark-green-color);
}

img {
  padding: 15px;
  background-color: #fff;
  max-width: 100%;
}
.hero h2 {
  line-height: 15px;
  padding-bottom: 100px;
  font-size: 26px;
  font-weight: 400;
  color: var(--dark-green-color);
}
.hero p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  color: var(--dark-green-color);
}
.hero {
  background-color: var(--green-color);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 120px;
}
.button {
  background-color: azure;
  color: var(--dark-green-color);
  border: none;
  text-decoration: none;
  padding: 20px 40px;
  margin: 40px;
  border-radius: 3px;
}
.button:hover {
  color: azure;
}
.footer {
  background-color: #bf8572;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
}
.footer h3 {
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 30px;
  padding-top: 40px;
  color: #321c15;
}
.icons {
  padding-bottom: 60px;
  color: var(--dark-brown);
}
.fa-code {
  padding-right: 35px;
}
.fa-person-hiking {
  padding-right: 35px;
}
.brief-description {
  max-width: 70%;
  padding-top: 50px;
  margin: 0 auto;
  display: block;
  line-height: 27px;
  font-size: 17px;
  color: var(--dark-brown);
}
.fa-feather-pointed {
  font-size: 25px;
  color: var(--dark-brown);
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .button {
    padding: 10px 20px;
    margin: 20px;
  }
  .footer h3 {
    font-size: 18px;
  }
}
